@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scheduler</h1>
    <p class="lead">Making a Schedule:<br /> Add <a href="/Workers">Workers</a> &amp; <a href="/Tasks">Tasks</a>, then click <a href="/Schedules">Schedules</a> to generate a schedule.</p>
</div>
